<li class=" navlink">
	<a href="#"  aria-label="Lien vers la page Facebook de Donjo et Drago">
		<svg role="img" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 20 20" fill="currentColor" alt="logo Facebook">
			<path fill-rule="evenodd" d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.792C0 19.506.494 20 1.104 20h9.578v-7.745H8.076V9.237h2.606V7.01c0-2.584 1.578-3.99 3.883-3.99c1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.596-1.496 1.47v1.927h2.989l-.39 3.018h-2.6V20h5.097c.61 0 1.104-.494 1.104-1.104V1.104C20 .494 19.506 0 18.896 0Z"/>
		</svg>
	</a>
</li>
<li class=" navlink">
	<a href="#"  aria-label="Lien vers le Discord de Donjo et Drago">
		<svg role="img" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 21 24" fill="currentColor" alt="logo Discord">
			<path d="M13.93 11.4a1.23 1.23 0 1 1-1.225-1.331c.683.029 1.225.59 1.225 1.277l-.001.056v-.003zm-5.604-1.33a1.338 1.338 0 0 0-.005 2.664h.005a1.278 1.278 0 0 0 1.225-1.277l-.001-.056v.003l.002-.067c0-.685-.541-1.243-1.219-1.269h-.002zM21 2.472V24c-3.023-2.672-2.057-1.787-5.568-5.052l.636 2.22H2.459a2.467 2.467 0 0 1-2.46-2.466V2.466A2.466 2.466 0 0 1 2.458 0h16.081a2.467 2.467 0 0 1 2.46 2.466v.006zm-3.42 11.376a16.004 16.004 0 0 0-1.77-7.086l.042.09a5.885 5.885 0 0 0-3.358-1.259l-.014-.001l-.168.192c1.15.312 2.15.837 3.002 1.535l-.014-.011a10.068 10.068 0 0 0-4.839-1.222c-1.493 0-2.911.321-4.189.898l.064-.026c-.444.204-.708.35-.708.35a8.036 8.036 0 0 1 3.1-1.56l.056-.012l-.12-.144A5.912 5.912 0 0 0 5.28 6.861l.012-.009c-1.052 2.036-1.686 4.437-1.728 6.982v.014a4.352 4.352 0 0 0 3.666 1.824h-.006s.444-.54.804-.996a3.75 3.75 0 0 1-2.093-1.406l-.007-.01c.176.124.468.284.49.3a8.638 8.638 0 0 0 4.188 1.067a8.73 8.73 0 0 0 3.36-.668l-.058.021c.528-.202.982-.44 1.404-.723l-.025.016a3.8 3.8 0 0 1-2.144 1.423l-.026.005c.36.456.792.972.792.972l.111.001a4.378 4.378 0 0 0 3.552-1.813l.009-.013z"/>
		</svg>
	</a>
</li>
<li class=" navlink">
	<a href="#"  aria-label="Lien vers la page GitHub de Donjo et Drago">
		<svg role="img" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 432 416" fill="currentColor" alt="logo GitHub">
			<path d="M213.5 0q88.5 0 151 62.5T427 213q0 70-41 125.5T281 416q-14 2-14-11v-58q0-27-15-40q44-5 70.5-27t26.5-77q0-34-22-58q11-26-2-57q-18-5-58 22q-26-7-54-7t-53 7q-18-12-32.5-17.5T107 88h-6q-12 31-2 57q-22 24-22 58q0 55 27 77t70 27q-11 10-13 29q-42 18-62-18q-12-20-33-22q-2 0-4.5.5t-5 3.5t8.5 9q14 7 23 31q1 2 2 4.5t6.5 9.5t13 10.5T130 371t30-2v36q0 13-14 11q-64-22-105-77.5T0 213q0-88 62.5-150.5T213.5 0z"/>
		</svg>
	</a>
</li>
<li class=" navlink">
	<a href="#"  aria-label="Lien vers la page Instagram de Donjo et Drago">
		<svg role="img" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 24 24" fill="currentColor" alt="logo Instagram">
			<path d="M17.34 5.46a1.2 1.2 0 1 0 1.2 1.2a1.2 1.2 0 0 0-1.2-1.2Zm4.6 2.42a7.59 7.59 0 0 0-.46-2.43a4.94 4.94 0 0 0-1.16-1.77a4.7 4.7 0 0 0-1.77-1.15a7.3 7.3 0 0 0-2.43-.47C15.06 2 14.72 2 12 2s-3.06 0-4.12.06a7.3 7.3 0 0 0-2.43.47a4.78 4.78 0 0 0-1.77 1.15a4.7 4.7 0 0 0-1.15 1.77a7.3 7.3 0 0 0-.47 2.43C2 8.94 2 9.28 2 12s0 3.06.06 4.12a7.3 7.3 0 0 0 .47 2.43a4.7 4.7 0 0 0 1.15 1.77a4.78 4.78 0 0 0 1.77 1.15a7.3 7.3 0 0 0 2.43.47C8.94 22 9.28 22 12 22s3.06 0 4.12-.06a7.3 7.3 0 0 0 2.43-.47a4.7 4.7 0 0 0 1.77-1.15a4.85 4.85 0 0 0 1.16-1.77a7.59 7.59 0 0 0 .46-2.43c0-1.06.06-1.4.06-4.12s0-3.06-.06-4.12ZM20.14 16a5.61 5.61 0 0 1-.34 1.86a3.06 3.06 0 0 1-.75 1.15a3.19 3.19 0 0 1-1.15.75a5.61 5.61 0 0 1-1.86.34c-1 .05-1.37.06-4 .06s-3 0-4-.06a5.73 5.73 0 0 1-1.94-.3a3.27 3.27 0 0 1-1.1-.75a3 3 0 0 1-.74-1.15a5.54 5.54 0 0 1-.4-1.9c0-1-.06-1.37-.06-4s0-3 .06-4a5.54 5.54 0 0 1 .35-1.9A3 3 0 0 1 5 5a3.14 3.14 0 0 1 1.1-.8A5.73 5.73 0 0 1 8 3.86c1 0 1.37-.06 4-.06s3 0 4 .06a5.61 5.61 0 0 1 1.86.34a3.06 3.06 0 0 1 1.19.8a3.06 3.06 0 0 1 .75 1.1a5.61 5.61 0 0 1 .34 1.9c.05 1 .06 1.37.06 4s-.01 3-.06 4ZM12 6.87A5.13 5.13 0 1 0 17.14 12A5.12 5.12 0 0 0 12 6.87Zm0 8.46A3.33 3.33 0 1 1 15.33 12A3.33 3.33 0 0 1 12 15.33Z"/>
		</svg>
	</a>
</li>
