<nav>
    <ul class="flex flex-col justify-center items-center gap-6 my-40 px-8 ">
        {% include('_partials/_links-nav.html.twig') %}    
    </ul>
    <div class="flex flex-col justify-center items-center">
        {% include('_partials/_links-footer.html.twig') %}    
    </div>
</nav>