    {% extends 'base.html.twig' %}

    {% block title %}Mentions légales{% endblock %}

    {% block body %}
    <div class="box text-yellow-500 text-2xl m-4 p-4">
        <h1>Mentions légales</h1>
        
    <article class="text-wrap py-4">
    
    <h3><span class="underline underline-offset-1">Informations légales :</span> </h3>

    <p><span class="font-style: italic font-medium">Nom du site web : </span>Donjo et Drago</p>
    <p><span class="font-style: italic font-medium">URL du site :</span> www.donjo-et-drago.fr</p>
    <p><span class="font-style: italic font-medium">Éditeur : </span>[Wizard of the Coast]</p>
    <p><span class="font-style: italic font-medium">Adresse : </span>[123 rue bidon, Seattle]</p>
    <p><span class="font-style: italic font-medium">Téléphone : </span>[555-666-777]</p>
    <p><span class="font-style: italic font-medium">SIRET : </span>[888899990000]</p>
    <p><span class="font-style: italic font-medium">Capital social : </span>[1 000 000 000]</p>
    <p><span class="font-style: italic font-medium">RCS : </span>[123456789]</p>
    </article>

    <article class="text-wrap py-4">
    <h3><span class="underline underline-offset-1 space-x-1">Hébergement : </span></h3>

    <p><span class="font-style: italic font-medium">Nom de l'hébergeur : [Manu]</span></p>
    <p><span class="font-style: italic font-medium">Adresse de l'hébergeur : [Chez Manu]</span></p>
    <p><span class="font-style: italic font-medium">Téléphone de l'hébergeur : [06 64 65 65 65]</span></p>
    </article>

    <article class="text-wrap py-4">
    <h4><h3><span class="underline underline-offset-1 space-x-1">Propriété intellectuelle :</span></h4>

    Le contenu de ce site web est la propriété de l'éditeur et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.

    Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.

    Limitation de responsabilité

    L'éditeur ne peut être tenu responsable des erreurs ou omissions dans les informations diffusées ou des problèmes techniques rencontrés sur le site et sur tous les autres sites vers lesquels nous établissons des liens, ou de toute interprétation des informations publiées sur ces sites, ainsi que des conséquences de leur utilisation.
     </article>

    </div>
    {% endblock %}