{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="py-4 flex justify-center" aria-lablel="Bouton validation formulaire">
	{{ component('Button', {
            label: button_label,
            type: "submit",
        }) }}
</div>
{{ form_end(form) }}
