{% extends 'content.html.twig' %}
{% set page_title = "Editer Classe " ~  job.id %}
{% block title %}
	{{ page_title }}
{% endblock %}

{% block content %}
    {{ include('job/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="flex justify-between">
		{{ component("Button", {
                url: path('app_job_index', {'id': job.id}),
                size: "w-52 h-32",
                label: "Retour à la liste",
            })}}

		{{ include('job/_delete_form.html.twig') }}
	</div>
{% endblock %}
