<div class="flex justify-center align-center border-4 border-solid border-black xl:h-[65vh] rounded-xl">
	<img data-background-campain-target="background" src="{{ asset("images/background/fantasy-forest.webp") }}" alt="" class="object-cover w-full">
</div>
