<div class="">
	<div class="box xl:h-[80vh] w-full xl:w-80 overflow-auto p-3">
		<h3 class="m-1 xl:m-3 text-xl text-center">Ennemis</h2>
		<div class="flex xl:flex-col" data-enemies-add-target="currentEnemies">
			
		</div>
	</div>
</div>
